<?php
include_once('character.php');

###############################################################################################
# REALM(s) DATABASE CONFIG
###############################################################################################
# - If you are only running 1 realm, remove one object array. Example: remove the object array
#   under realm_db_2.
# - If you are running more than 2 realms, simply copy and add the array below as realm_db_3.
#   it will detect as many realms configured.
# - If you are running multiple realms and using the same database, enter the same
#   entries for each realm_db_* array.
# - Recommend using a read-only account to read your database(s)
$realm_db=array(

# realm_db_1
(object)array(
'realm_name'=> 'Trinity1',
'host'      => "127.0.0.1",
'port'      => "3306",
'user'      => "db_user",
'pass'      => 'db_pass',
'database'  => "characters_realm_1",
'table'     => "characters",
),

# realm_db_2
(object)array(
'realm_name'=> 'Trinity2',
'host'      => "127.0.0.1",
'port'      => "3306",
'user'      => "db_user",
'pass'      => 'db_pass',
'database'  => "characters_realm_2",
'table'     => "characters",
),

###############################################################################################
);

$config=(object)array(
###############################################################################################
# EXPANSION
###############################################################################################
# What expansion playermapper to load
# Default = 3 (WotLK)
# 1 = Classic
# 2 = Burning Crusade
# 3 = Wrath of the Lich King
# 4 = Cataclysm
# 5 = Mists of Pandaria
# 6 = Warlords of Draenor
# 7 = Legion
#
'expansion' => 7,
###############################################################################################

###############################################################################################
# MAP PLAYER DETAILS
###############################################################################################
# - Show GM players that are online - disabled by default
# - Show offline players - disabled by default !!Use cautiously for high populated servers.
# - Show player details while hovering over the player map marker
# - Show all realms will show every player from different realms onto the map(s). While this
#   feature is enabled, player details will show their realm name  (if details enabled).
# - Enable PvP area visibility (not recommended) - disbaled by default. This will show every
#   player's location in pvp areas like Tol Barad, Ashran, etc..
#
'show_online_GMs'      => 0,
'show_offline_players' => 1,
'show_player_details'  => 1,
'show_all_realms'      => 1,
'show_pvp_zones'       => 0,
###############################################################################################

###############################################################################################
# WEB
###############################################################################################
# - Clean url feature. This enables the feature such as
#   Example: mywowsite.com/playermapper/outland  or  mywowsite.com/playermapper/azeroth
#   rather than the ugly variables in the url. (www.mywowsite.com/playermapper?map=outland&ug=1)
# - You must have the rewrite module on/enabled on your web server. (Apache/Nginx)
#   !!WARNING!! Enabling this feature without knowing what you are doing will throw your web
#   into 500 internal server errors.
# - If you want this feature enabled, but don't know. please read the links below, I will not
#   train you.
#   for Apache -> http://httpd.apache.org/docs/current/mod/mod_rewrite.html
#   for Nginx -> http://nginx.org/en/docs/http/ngx_http_rewrite_module.html
#
'rewrite_module' => 1,
###############################################################################################
);
######## END OF CONFIG






###############################################################################################
# !! Please do not modify below this line unless you know what you are doing !!
###############################################################################################
include_once("github.php");
$n_realms = count((array)$realm_db);
for ($i=0; $i<$n_realms; $i++){
  $DB[$i] = new mysqli($realm_db[$i]->host, $realm_db[$i]->user, $realm_db[$i]->pass, $realm_db[$i]->database, $realm_db[$i]->port);
  if ($DB[$i]->connect_error){
    die("<br><center>There was a problem connecting to the database!<br>" . $DB[$i]->connect_error);
  }
}

?>
